<div class="form-container">
  <div class='header-container'>
      <%= link_to unauthenticated_root_path, class: "back-root" do %>
          <span class="material-symbols-outlined">
          arrow_back
          </span>
        <% end %>
      <h4>Login</h4>
      <%= link_to unauthenticated_root_path, class: "menu" do %>
          <span class="material-symbols-outlined">
        menu
        </span>
        <% end %>
      

        
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " email" %>

  <%= f.password_field :password, autocomplete: "current-password", placeholder: " password" %>


  <div class="actions">
    <%= f.submit "Log in", class: 'submit-btn' %>
  </div>
<% end %>

<%= link_to "Sign up", new_user_registration_path, class: "sign-up-link" %>

</div> 