<%= form_with(model: [@category, @spend]) do |form| %>
  <% if spend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spend.errors.count, "error") %> prohibited this spend from being saved:</h2>

      <ul>
        <% spend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, placeholder: 'Name' %>

  <%= form.number_field :amount, placeholder: 'Amount' %>

  <div>
    <%= form.submit class: 'submit-btn' %>
  </div>
<% end %>
