<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>

<div>
  <h1>Spends for this category</h1>
  <% @category.spends.each do |spend| %>
    <%= render spend %>
    <p>
      <%= link_to "Show this spend", category_spend_path(@category, spend) %>
      <%= link_to "Edit this spend", edit_category_spend_path(@category, spend) %>
      <%= button_to "Destroy this spend", category_spend_path(@category, spend), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>

  <% end %>


  <%= link_to "New spend for this category", new_category_spend_path(@category) %>
  
  </div>
